<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="flex w-screen h-screen bg-slate-300 flex-col">
      <div class="flex ">
        <div class="names">
          <h1>hello</h1>
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 w-max h-max text-white font-bold py-2 px-4 rounded" id="btn">Pick a number</button>
      </div>
    </div>
  </body>
  <script src="../js/index.js"></script>
  <script src="../js/pickDate.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
